.subHeader{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    font-size: calc(14px + 3 * ((50vw - 320px) / 680));
    line-height: 40px;
    z-index: 1000000000;
}
.subHeader-Main{
    display: flex;
    flex-direction: row;
    justify-self: left;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 50%;
    height: 100%;
    z-index: 1000000;
}
.subHeader-Main .subHeaderUnderline:hover::after{
    border-bottom:2px solid #222;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.headerAllCategoriesContainer{
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center; 
    cursor: pointer;
    position: relative;
    height: 100%;
    z-index: 100000000;
}
.headerAllCategoriesContainer .allcatBlack{display: none;}
.headerAllCategoriesContainer:hover .allcatBlack{display: block;}
.headerAllCategoriesContainer:hover .allCat{display: none;}
.headerAllCategoriesContainer:hover {background-color: #fff}

.subHeader-Main img{
    display: flex;
    justify-items: center;
    justify-self: center;
    width: 15px;
    height: 25px;
    vertical-align: middle;
    align-items: center;
    display: inline-block;
    margin: auto;
    margin-right: 6px;
}
.subHeader-Sub{
    display: flex;
    flex-direction: row;
    justify-self: right;
    justify-content: space-between;
    justify-items: center;
    width: 36%;
}
/********************************************************/
@media only screen and (max-width: 480px) {.subHeader{display: none;}}
@media (max-width:600px) and (min-width: 480px) {.subHeader{display: none;}}
@media (max-width:1100px) and (min-width: 480px) {
    .subHeader{font-size: calc(12px + 3 * ((50vw - 320px) / 680));flex-direction: column;}
    .subHeader-Main{width: 100%;height: 45px;line-height: 20px;}
    .subHeader-Sub{display: none;}
}
@media (max-width:1200px) and (min-width: 1100px) {.subHeader{font-size: calc(12px + 3 * ((50vw - 320px) / 680));}}